{% extends 'default.html' %}

{% block title %}
    Объявления
{% endblock title %}

{% block content %}
    <h1>Все объявления {{ announcements|length }}</h1>
    <hr>
    {% if announcements %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата размещения</td>
                <td>Превью</td>
                <td>Категории</td>
                <td>Статус</td>
            </tr>
            {% for announcement in announcements %}
                <tr>
                    <td><a href="{% url 'announcement' announcement.id %}">{{ announcement.title }}</a></td>
                    <td>{{ announcement.date_created|date:'d M Y H m' }}</td>
                    <td>{{ announcement.text|truncatewords:20|safe }}</td>
                    <td>{{ announcement.category }}</td>
                    {% if announcement.active %}
                        <td>Активно</td>
                    {% else %}
                        <td>Неактивно</td>
                    {% endif %}
                    {% if announcement.author.id == user.id %}
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="announcement_id" value="{{ announcement.id }}">
                                <button type="submit" name="action" value="delete">Удалить объявление</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td><br></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Объявлений нет!</h2>
    {% endif %}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
